@import url('https://fonts.cdnfonts.com/css/gobold');
@import url('https://fonts.cdnfonts.com/css/neue-hans-kendrick');
@import url('https://fonts.cdnfonts.com/css/effra-heavy');
@import url('https://fonts.cdnfonts.com/css/polsku');
@import url('https://fonts.cdnfonts.com/css/facile-sans');
@import url('https://fonts.cdnfonts.com/css/fredoka-one');

.pattern{
  background-image: url(img/pngegg\ \(70\).png);
  background-size: 20%;
  height: 55px;
  width: 60vw;
  margin:  0 auto;
  border: none;
  transition: 0.4s ease-in-out;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
}
.slider-container .logo{
    width: 100px;
    height: 100px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in;

}
.slider-container .logo:hover{
   
    transform: rotate(360deg);
}
.slider-container{
    height: 100vh;
    overflow: hidden;

    background-color: #8b0015;
   

}
.the-big{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
    width: 100vw;
    background-color: #8b0015;
    position: absolute;
    box-shadow: 5px 5px 10px rgba(0 , 0 , 0 , 0.8);
    z-index: 2;
   
    
}
.the-big .close{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.the-big .close li {
padding: 0 50px;
font-family: 'Gobold Uplow', sans-serif;
text-transform: uppercase;
list-style: none;
font-size:30px;


}
.the-big .close li a{
    text-decoration: none;
    color: white;
    padding:25px;
    transition: 0.4s ease-in-out;
}
.the-big .close li a:hover{
    color: #f9ae13;
    text-decoration: underline;
    font-size: 35px;    
}

.big-slider #writing{
 font-size:150px;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: transparent;
 font-family: 'Gobold Uplow', sans-serif;
 text-transform: uppercase;
color: #f9ae13;
transition: 0.4s ease-in;

}


.search {
  position: relative;
  height: 50px;
}

.search .input {
  border-radius: 50px;
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.btn {
  border-radius: 50px;

  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 250px;
}

.search.active .btn {
  transform: translateX(198px);
}





.big-nav{
    display: none;
}

@media (max-width:1000px){

  .big-nav{
    display: block;
    position: absolute;
    z-index: 3;
}

    .nav-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 20px;
      }
      
      .open-btn {
        position: fixed;
        top: 5px;
        left: 10px;
         color:white;
         background-color: #8b0015;
         width: 100px;
         height: 100px;
         border-top-right-radius: 50%;
         border-bottom-right-radius: 50%;
         left: -30px;

        
      }
      
      
      .nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        
       
      }
      
      .nav.visible {
        transform: translateX(0);
      }
      
      .nav-black {
        background-color: rgb(34, 31, 31);
        width: 60%;
        max-width: 400px;
        min-width: 320px;
        transition-delay: 0.4s;
      }
      
      .nav-black.visible {
        transition-delay: 0s;
      }
      
      .nav-red {
        background-color:#8b0015;
        width: 95%;
        transition-delay: 0.2s;
      }
      
      .nav-red.visible {
        transition-delay: 0.2s;
      }
      
      .nav-white {
        background-color: #fff;
        width: 95%;
        padding: 40px;

        transition-delay: 0s;
      }
      
      .nav-white.visible {
        transition-delay: 0.4s;
      }
      
      .close-btn {
        opacity: 0.3;
        position: absolute;
        top: 40px;
        right: 30px;
      }
      
      .list {
        list-style-type: none;
        padding: 0;
      }
      
      .list li {
        font-family: 'Gobold Uplow', sans-serif;
        margin: 20px 0;
      }
      
      .list li a {
        color: rgb(34, 31, 31);
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.4s ease-in-out;
      }
      .list li a:hover{
        text-decoration: underline;
        font-size: 23px;
      }
      
      
      .list ul {
        list-style-type: none;
        padding-left: 20px;
      }

      .the-big .close{
        display: none;
      }

      .info-12 .nav-for-info-12 ul li{
        margin: 10px 20px;
      }

      .the-beagest-forever .the-beagest-left{
        height: 150vh;
      }
      .the-beagest-forever .the-beagest-right{
        height: 150vh;
      }

     body .big-slider h1{
      font-size: 100px;
     }

     body .pattern{
      margin-top: 30px;
      height: 35px;
    }

}
.big-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slide{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.info-12{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #f9ae13;
    position: relative;
}
.nav-for-info-12{
    background-color: #8b0015;
    width:80vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 50px;
    position: absolute;
    top: -150px;
    text-align: center;
    overflow: hidden;
    transition: 0.4s ease;
    box-shadow: 5px 5px 15px rgba(0 , 0 , 0 , 0.8);
}
.nav-for-info-12 ul{
    display: flex;
    list-style-type: none;

}
.nav-for-info-12 ul li{
    padding: 10px 30px;
    margin: 20px 30px;
    font-family: 'Gobold Uplow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    transition: 0.4s ease;
}


.nav-for-info-12 ul li a{
    color: #f9ae13;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}
.nav-for-info-12 ul li a:hover{
    text-decoration: underline;
    color: #fff;
    font-size: 40px;
}

.nav-for-info-12 ul li a:focus{
    text-decoration: underline;
    color: #fff;
    font-size: 40px;
    transition: 0.4s ease-in-out;
}

.the-beagest-forever{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in;
  position: relative;
}
.the-beagest-forever.frist{
  margin-top: 250px;
}

.nav-for-info-12 p{
  color: white;
  letter-spacing: 1px;
  font-family: 'Neue Hans Kendrick', sans-serif;
  text-transform: capitalize;
}


.the-beagest-forever h1{
  font-family: 'Fredoka One', sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 35px;
  margin: 30px 0;
  color: #8b0015;

}
.the-beagest-forever p{
  font-family: 'Neue Hans Kendrick', sans-serif;
  text-transform: capitalize;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.more-paragraph{
  color: #8b0015;
  font-size: 20px;
  cursor: pointer;
}
.more-paragraph:hover{
  text-decoration: underline;

}

.the-beagest-left{
  width: 45vw;
  height: 200vh;
  padding: 50px;
  overflow: hidden;
  margin: 0 20px ;
  transition: 0.4s ease-in;
  background-color: rgba(245, 222, 179, 0.3);
}
.the-beagest-right{
  padding: 50px;
  width: 45vw;
  height: 200vh;
  overflow: hidden;
  transition: 0.4s ease-in;
  background-color: rgba(245, 222, 179, 0.3);
}
.the-beagest-forever img{
  width:100%;
  height:100%;
  box-shadow: 2px 5px 8px rgba(0 , 0 , 0 , 0.5);
}








.head{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
}
.head h2{
  font-family: 'Neue Hans Kendrick', sans-serif;
  font-size: 50px;
}
 .head p{
  font-family: 'Neue Hans Kendrick', sans-serif;
  text-align: center;
  letter-spacing: 1px;
  max-width: 1700px;
  margin: 0 auto;

}

.info-11{
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  background-color: #261c1c;
  color: white;
}
.info-6 .head{
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;

}
.socialll{
  display: flex;
  justify-content: center;
  align-items: end;
  height:40Vh;
}
.social-MM {
  position:absolute;
  bottom: 50px;
  left:50%;
  transform:translate(-50%);
  margin:0;
  padding:0;
  display:flex;
}
.social-MM li {
  list-style:none;
}
.social-MM li a {
  display:block;
  position:relative;
  width:100px;
  height:100px;
  line-height:100px;
  font-size:40px;
  text-align:center;
  text-decoration:none;
  color:white;
  margin: 0 30px;
  transition:.5s;
}
.social-MM li a span {
  position:absolute;
  transition: transform .5s;
}
.social-MM li a span:nth-child(1),
.social-MM li a span:nth-child(3){
  width:100%;
  height:3px;
  background:white;
}
.social-MM li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
.social-MM li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

.social-MM li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
.social-MM li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

.social-MM li a span:nth-child(2),
.social-MM li a span:nth-child(4){
  width:3px;
  height:100%;
  background:white;
}
.social-MM li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
.social-MM li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
.social-MM li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
.social-MM li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.facebook:hover {
  color: #3b5998;
}
.facebook:hover span { 
  background: #3b5998;
}
.twitter:hover {
  color: #1da1f2;
}
.twitter:hover span { 
  background: #1da1f2;
}
.instagram:hover {
  color: #c32aa3;
}
.instagram:hover span { 
  background: #c32aa3;
}
.google:hover {
  color: #dd4b39;
}
.google:hover span { 
  background: #dd4b39;
}
.social-MM li a .twitter {
  color: #1da1f2;
}
.social-MM li a:hover:nth-child(3) {
  color: #c32aa3;
}
.social-MM li a:hover:nth-child(4) {
  color: #dd4b39;
}








